// Colors
$clr1: #4e71ff;
$clr2: #fff;
$clr3: #727989;
$clr4: #e6e9ef;
$clr5: #181818;
// $clr7: #222;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
